body {
  background-color: pink;
  color: brown;
  margin: auto;
  width: 1000px;
  text-align: justify;
}

div {
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title-div {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.intro-div {
  width: 600px;
}

.drop-down-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.creature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-start;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 330px;
  width: 200px;
}

.creature-name-div {
  text-align: center;
  text-decoration: underline;
}

.description-div {
  font-size: smaller;
  text-align: left;
}

img {
  width: 200px;
  height: auto;
  margin: 2px;
}

select {
  margin: 10px;
  font-size: larger;
  border: darkblue solid 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}