body {
  background-color: pink;
  color: brown;
  margin: auto;
  width: 1000px;
  text-align: justify;
}

div {
  margin: 5px;
  padding: 1px;
}

.title-div {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.image-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.creature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  border: solid 2px goldenrod;
  
}

img {
  width: 200px;
  height: auto;
  margin: 5px;
}